<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-avengers #marvel #avengersSpot></app-avengers>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button
          type="button"
          (click)="catchPhrase($event)"
          class="btn btn-primary"
        >
          Iron Man
        </button>
        <button
          type="button"
          (click)="catchPhrase($event)"
          class="btn btn-primary"
        >
          Captain America
        </button>
        <button
          type="button"
          (click)="catchPhrase($event)"
          class="btn btn-primary"
        >
          Thor
        </button>
        <button
          type="button"
          (click)="catchPhrase($event)"
          class="btn btn-primary"
        >
          The Hulk
        </button>
        <button
          type="button"
          (click)="catchPhrase($event)"
          class="btn btn-primary"
        >
          Dr. Strange
        </button>
      </div>
    </div>
  </div>
</div>
